html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

font-family: "Frank Ruhl Libre", serif;
font-family: "Open Sans", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "PT Sans", sans-serif;

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

/* HEADER */

header {
	background-color: black;
	position: fixed;
	z-index: 5;
	width: 100%;
}

.container {
	height: 175px;
	max-width: 2200px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin-left: 90px;
}

nav {
	margin-left: 90px;
}

ul {
	display: flex;
	justify-content: space-between;
}

ul > li {
	width: 150px;
	margin-right: 50px;
	border-bottom: 1px solid transparent;
	transition: all 0.5s ease;
	position: relative;
}

ul > li > a {
	color: white;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	transition: all 0.5s ease;
	white-space: nowrap;
	padding-right: 100%;
}

ul > li:hover {
	color: white;
	display: block;
	border-bottom: 1px solid white;
}
ul > li:hover > a {
	color: white;
	font-size: 15px;
	box-sizing: border-box;
}

ul > li > ul {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}

ul > li > ul > li:first-child {
	transition: none;
	margin-top: 10px;
}

ul > li > ul > li {
	margin: 3px 0;
	transition: none;
}

ul > li:hover > ul {
	display: block;
}

ul > li > ul > li:hover {
	border-bottom: none;
}

/* main  */

@keyframes slide {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}

.wrapper {
	background-image: url(../image/GALARy.jpg);
	background-size: cover;

	background-position: center;
	animation: slide 400s linear infinite;
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 0;
}
